<div class="home">
  <header class="header">

  </header>
<div class="intro">
  <div class="intro__content">
    <h1 class="h-primary">Some very short and interesting intro heading here</h1>
    <p class="p-primary">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
  </div>
<!--  <img src="../../../assets/images/abstraction1.png" alt="img">-->

</div>
  <div class="benefits">
    <h2 class="h-secondary">Benefits</h2>
    <h3 class="h-tertiary">Why study with us</h3>
    <div class="cards">
      <div class="cards__card">
        <div class="cards__image-box">
          <img class="cards__image" src="" alt="icon">
        </div>
        <h4 class="h-four">Card title</h4>
        <p class="p-secondary">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas</p>
      </div>
      <div class="cards__card">
        <div class="cards__image-box">
          <img class="cards__image" src="" alt="icon">
        </div>
        <h4 class="h-four">Card title</h4>
        <p class="p-secondary">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas</p>
      </div>
      <div class="cards__card">
        <div class="cards__image-box">
          <img class="cards__image" src="" alt="icon">
        </div>
        <h4 class="h-four">Card title</h4>
        <p class="p-secondary">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas</p>
      </div>
      <div class="cards__card">
        <div class="cards__image-box">
          <img class="cards__image" src="" alt="icon">
        </div>
        <h4 class="h-four">Card title</h4>
        <p class="p-secondary">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas</p>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2 class="h-secondary">Happy students</h2>
    <div class="reviews__review">
      <h3 class="h-tertiary">My review goes here</h3>
      <p>hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
    </div>
  </div>
  <footer class="footer">

  </footer>
</div>
